.rp-href {
	color: #64748b !important;
}
.rp-table {
	/*border-width: 1px;
	border-color: #BBBBBB;
	border-style: solid;
	border-collapse: separate;
  	border-spacing: 0;
  	background-color: #EBF1EF;
	border-width: 0px;*/
	border:none;
	width: 100%;
	background: #FFF;
	color: #64748B;
	border-collapse: collapse;
}
.rp-table th {
	/*
	background-color: #C6D1CD;
	border-width: 1px;
	border-color: #2563EB;
	border-width: 2px 1px 2px 0px;
	border-style: solid;
	border-radius: 8px;*/
	text-align:	center;
	padding: 8px 16px 8px 4px;
	font-weight: bold;
	background: #2563EB;
	color:#FFFFFF !important;
}

.rp-table th:last-child {
	border-width: 2px 0px 2px 0px;
}

.rp-table td {
	/*border:none;
	border-width: 1px;
	border-color: #BBBBBB;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	background-color: #EBF1EF;*/
	color: #64748b !important;
	padding: 8px;
}

.rp-table tr:nth-child(even) {
	background: #F1F5F9;
}

.rp-table td:last-child {
	border-width: 1px 0px 1px 0px;
}

.rp-number {
	/*background-color: #EBF1EF;*/
	text-align: center !important;
	padding: 3px;
}
.rp-text, .rp-date {
	/*background-color: #EBF1EF;*/
	text-align: center;
	padding: 3px;
}

.rp-lastgrouprow td {
	border: none;
	border-width: 0px 1px 2px 0px;
	border-color: white #BBBBBB black white;
}

.rp-lastgrouprow td:last-child {
	border-width: 0px 0px 2px 0px;
	border-color: white #BBBBBB black white;
}

.rp-functionrow td {
	background-color: #C6D1CD;
	font-weight: bold;
	border-width: 0px 1px 0px 0px;
}

.rp-functionrow td:last-child {
	border-width: 0px 0px 0px 0px;
}

div.rp-flex-container {
	display: flex; 
	flex-direction: column; 
	height: 100%;
}

#rp-para-table-wrap {
	flex-grow: 0;
}

div.rp-table-wrap {
	flex-grow: 1;
	overflow: auto;
}

div.rp-table-wrap > table > thead > tr > th {
	color:white !important;
	position: sticky;
	top: 0;
}

@media print {
	div.rp-flex-container {
		height: auto;
	}
	div.rp-table-wrap {
		overflow: visible;
	}
	div.rp-table-wrap > table > thead > tr > th {
		position: relative;
		color:white !important;
	}
}

.z-icon-Report::before {
	content: "\f1ea";
}
.z-icon-Window::before {
	content: "\f022";
}
.z-icon-Zoom::before {
	content: "\f14c";
}
[class^="z-icon-"], [class*=" z-icon-"] {
  box-sizing: border-box;
  padding-right: 4px;
  line-height: 14px;
}
span.font-icon::before {
	box-sizing: border-box;
	display: inline-block;
	font-size: 14px;
	width: 16px;
	text-align: center;
	vertical-align: middle;
	color: inherit;
}
